.recipe-btn {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.finish-recipe-btn {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.check-ingredient {
  display: block;
}
