footer {
  background-color: #e85d04;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

footer button {
  background-color: #faa307;
  border-radius: 100px;
  margin: 4px;
  padding: 8px;
}
